.acc{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr,1fr,1fr,1fr;
        grid-template-rows: 1fr,1fr,1fr,1fr;
        gap: 10px;
    }

.acc1{
    align-items: center;
    align-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: aqua;

}

.acc2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: palevioletred;
}

.acc3{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: gold;
}

/* .acc2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: pink;

} */

.invisible{
    display: none;
}

/* #details1{
    display: none;
} */


.box{
    border: solid green 10px;
}
.basicBox{
    align-items: center;
}

.circle{
    border-radius: 100%;
}

.inputText{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.basics{
    width: 75%;
    
  }

.paddingLeft{
    padding-left: 15%;
}

.paraSelectors{
    margin-bottom: 0;
}

.paraSelectors:hover{
    background: rgb(104, 104, 104);
    color: white;
}

.paraSelectors{
    padding-left: 20px;
}

.paddingRemovers{
    padding-left: 0;
    padding-right: 0;
}

.nameStyle{
    font-weight: bold;
    text-align: center;
}

.buttonColor{
    background-color: #947155!important;
    border-color: #947155!important;
}

.buttonColor{
    background-color: #947155!important;
    border-color: #947155!important;
}