.divi{
    Background-image: url("https://in.pinterest.com/pin/94997873361417965/");
    color: #000000;
    background-color: rgb(164, 156, 156); 
    width: 500px;
    border: 15px;
    border-color: rgb(0, 0, 0); 
    border-style: double;
    margin-top: 50px;
    padding: 3px 35px;

}

.boxreg{
    color: #000000;
    /* background-color: rgba(247, 247, 41, 0.2);  */
    width: 300px;
    border: 15px;
    border-color: #000000; 
    border-style: double;
    margin: 50px;
    padding: 20px 35px;

}


.box{
    color: rgb(11, 11, 11);
    background-color: #5bccf6;
    width: 300px;
    border: 6px;
    border-color: rgb(0, 0, 0); 
    border-style: double;
    margin: 50px;
    padding: 20px 35px;

}

.last{
    margin-top: 10px;
}

button{
    margin: 15px;
    margin-bottom: 25px;
}

.page{
    background-image: url("https://i.pinimg.com/564x/78/1a/23/781a23423046e9797a3d2bc3915eb050.jpg");
    background-size: cover;
}