.divi{
    color: white;
    background-color: rgb(0, 0, 0);
    width: 500px;
    border: 15px;
    border-color: rgb(255, 255, 255); 
    border-style: double;
    margin: 50px;
    padding: 30px 35px;

}

.boxreg{
    color: rgb(11, 11, 11);
    background-color: rgb(255, 255, 255);
    width: 300px;
    border: 15px;
    border-color: rgb(0, 0, 0); 
    border-style: double;
    margin: 50px;
    padding: 20px 35px;

}


.boxreg{
    color: rgb(11, 11, 11);
    background-color: rgb(255, 255, 255);
    width: 300px;
    border: 15px;
    border-color: rgb(0, 0, 0); 
    border-style: double;
    margin: 50px;
    padding: 20px 35px;

}
