.coubox{
    text-align: center;
    color: #000000;
    background-color:  #cac9c9; 
    box-shadow: 0 10px 30px rgba(0, 0, 0,0.5);
    min-height: 30vh;
    width: 30vw;
    border: 15px;
    /* border-color: rgb(0, 0, 0); 
    border-style: double; */
    margin: 20px;
    padding: 3px 35px;
    border-radius: 10px;
}
.coubox:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.aligning{
    text-align: center;
    align-items: center;
}

.boxxed{
    text-align: center;
    align-items: center;
    background-color:  #947155;
    height: 5vh;
    width: 10vw;
    border: 15px;
    /* border-color: rgb(0, 0, 0); 
    border-style: double; */
    /* margin: 20px; */
    padding: 3px 35px;
    border-radius: 10px;
}

.boxxed:hover{
    transform: scale(1.06);
    transition: 0.2s;
}

.headbar{
    background-color: #947155;
    color: #cfcfc1;
    justify-content:space-between;
}

.shade{
    color: #cfcfc1;
}

.headstyle{
    color: white;
    font-size: 250%;
}


.contents{
    margin-left: 20vw;
}

.drop{
    margin-top: 12px;
    margin-left: 2vw;
    margin-right: 3vw;
}


.dropdown{
    margin-left: 85vw;
    display: inline;
    position: relative;
}

.dropdown:hover{
    transform: scale(1.1);
    transition: 0.3s;
}


.col{
    color: #000000;
}


.regalign{
    align-items: center;
}